
.navbar navbar-expand-lg navbar-light bg-light {
    
}

header{
    font-family: 'Caveat Brush', serif;
     
}

.navbar-brand {
    color: #bfbdbc!important;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 10px 0 0;
}

.nav-link {
    color: #bfbdbc!important;
    font-size: 18px;
}

.cart {
    margin-left: 15px;
}
button {
    font-size: 18px!important;
    color: #bfbdbc!important;
    border-color: white!important;
}


body {
    width: 1000px;
    background: rgb(244,244,244);
    background: linear-gradient(149deg, rgba(244,244,244,1) 22%, rgba(209,209,209,1) 60%, rgba(175,175,175,1) 100%);
    margin: auto;
   }

main {
    margin-top: 30px;
}

hr {
    width: 900px;
}

.container{
    margin-top: 3px;
}

.title{
    margin-left: 35px;
}

.items-block{
    display: flex!important;
    margin-top: 20px;

}

.item{
    width: 310px;
    height: 450px;
    margin: 10px;
}

.items-block i {
    font-size: 40px;
    margin-top: 15%;
} 

.item-description{
    margin: 5px;
}

.item img {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.contact-form{
    max-width: 570px;
    margin-left: 35px;
    padding-bottom: 40px;
}

footer{
    display: flex;
}
/*_____________________Media____________________*/
